* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
}
#logo, h1, h2, h3, h4, h5, h6,{
    font-family: "Lora", serif;
}
h1, .h1{
    font-size: 2.986rem;
    margin-bottom: 1.5rem;
}
h2, .h2{
    font-size: 2.488rem;
}
h3, .h3{
    font-size: 2.074rem;
}
h4, .h4{
    font-size: 1.728rem;
}
p .p {
    font-size: 1rem;
    color: rgb(119, 118, 118);
    line-height: 150%;
}
header {
    border-bottom: 1px solid black;
    height: 5rem;
}

#logo {
    color: black;
    font-size: 32px;
    text-decoration: none;
    font-weight: 600;

}
.container {
    width: 100%;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    
}
header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    
}
nav a{
    text-decoration: none;
    color:rgb(136, 133, 133);
}
#iconlinks a {
    color: black;
}
section{
    padding: 2rem;
}
#section1 .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
}
#images {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
#images img {
    width: 100%;
    height: 100%;
}
#img1 {
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: span 1;
}
#img2 {
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 2;
    grid-row-end: span 1;
}
#img3 {
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 3;
    grid-row-end: span 1;
}
#img4 {
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 4;
    grid-row-end: span 1;
}
#mainimg{
    grid-column-start: 2;
    grid-column-end: span 3;
    grid-row-start: 1;
    grid-row-end: span 4;
}
.price {
    color: rgb(129, 128, 128);
    margin-bottom: 1rem;
}
.variants {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    gap: .5rem;
}
.variants img{
    height: 3rem;
    width: 3rem;
    margin-bottom: 1rem;
    border-radius: 50%;
}
.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    padding: 8px 5rem;
    text-decoration: none;
  
}
.button2{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    text-decoration: none;
}
.cartbutton {
    background-color: black;
    color: white;    
}
.buybutton {
    background-color: white;
    border: 1px solid black;
}
.buttonholder {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 2rem;
    gap: 1rem;
    
}
.productslist {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-top: 1rem;
    gap: 1rem; 
    width: 100%;  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.pricecart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;

}

.similar {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    align-items: center;
    
}
.productdetails{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}